body {
    background-color: none;
}

#header {
    background-color: white;
}

#header > h1 {
    margin: 0;
    text-align: right;
    font-family: 'Lato', sans-serif;
    position: relative;
    transform: translateY(50%)
        display:flex;
}

#nav {
    width: 100;
    background-color: aqua;
}

.menu {
    display: flex;
    background: #9fc9ef;
    justify-content: space-around;
    list-style-type: none;
}

#middle-wrapper-width {
    display: flex;
}

#nav {
    background-color: #004fb2;
    min-height: 30px;
    display: flex;
}

#nav > ul > button {
    text-align: center;
    padding: 15px 32px;
    margin: 0;
    color: #fff;
    background-color: #ffb52b;
    min-width: 178px;
    -webkit-transition: background-color 2s;
    transition: background-color .25s;
    border-bottom: 2px solid #004eff;
}

.menu {
    display: flex;
    background: #004fb2;
    justify-content: space-around;
    list-style-type: none;
    margin: : 0;
}

#middle-wrapper-width {
    display: flex;
}

#main-content-wrapper {
    background-color: #fff;
}

#aside-content-wrapper {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    margin-top: 50px;
}

footer {
    background-color: coral;
    margin: 0;
}

midle-wrapper-width {
    display: flex;
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

footer > h1 {
    margin: 0;
}

#middle-wrapper {}

.side-by-side {}

.image-content > img {
    max-width: 200px;
    border-radius: 50px;
}

.image-content > h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: C
}

.image-content > h4 a {
    color: #FF7B00;
}

.image-content > h4 a:hover {
    color: #00DAFF;
}

#main-content-wrapper article {}

#main-content-wrapper article h2 {
    text-align: center;
}

#main-content-wrapper article p {
    max-width: 300px;
    margin: 0 auto;
}

#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

#main-content-wrapper #skills span {
    text-align: center;
}

#aside-right {
    margin: 0 50px 0 8px;
    width: 100%
}

#aside-right h3 {
    text-align: center;
}

#featured-work {
    list-style-type: none;
    background-image: url(img/skyline.jpg0);
    
}



#latest-work >li:before {
    content: '';
    border-color: transparent #008eef;
    border-style: solid;
    border-width: .35em 0 .35em .45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: .9em position: relative;
}

#favorite-sites {
    background-image: url(img/bg.jpeg);
    border-top: 5px #004fb2 solid;
    border-bottom: 5px #004fb2 solid;
    text-align: center;
}

#favorite-sites ul {
    list-style-type:none;
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 40px;
    
}

#favorite-sites img {
    max-width: 400px;
    float: left;
    border-bottom: 5px;
}

#main-content-wrapper .image-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.image-content > h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
}

footer {
    background-color: coral;
    text-align: center;
    font-family: 'Lato', sans-serif;
    min-height: 100px;
}

footer > h1 {
    margin: 0;
    transform: translateY(50%)
}

.max-width {
    max-width: 960px;
    margin: 0 auto;
}


/*Bootsrap Related*/

.container-fluid {
    padding: 0;
}

.img-modal {
    text-align: center;
}

#favorite-sites > .row > .col-md-4 > img {
    margin: 0 auto;
} 

#header > img {
    float:right;
    border-radius: 200px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
